<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="Car" class="com.springcore.springcore.Car" />
	<bean name="Vehicle" class="com.springcore.springcore.Vehicle">
		<constructor-arg ref="Car" />
	</bean>
	<bean name="Customer" class="com.springcore.springcore.Customer">
		<property name="CarNumber" value="2075" />
		<property name="Name" value="Rahul" />
		<property name="Country" value="India" />
	</bean>

</beans>
